<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-5">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Ijtimoiy tarmoqlarda biz bilan bog'laning:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Kompanya nomi
          </h6>
          <p>
            Najot ta'lim
          </p>
        </div>
        <!-- Grid column -->
<!---->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Maxsulotlar
          </h6>
          <p>
            <a href="#!" class="text-reset">Qirrali</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Reaksiya bildirish</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Foydali links
          </h6>
          <p>
            <a href="#!" class="text-reset">Baxolsh</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Parametrlar</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Buyruq berish</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Yordam berish</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> O'zbekiston, Farg'ona, Toshloq, Qumariq MFY, Farg'ona ko'chasi 108-uy</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            abdumajidovabduvohid098@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +998-91-653-60-08</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Avtomobil e'lon sayiti:
    <a class="text-reset fw-bold" href="https://github.com/ABDUMAJIDOVAA">Saytni yaratgan odam haqida</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->